@model WEBAPP_NATURPIURA.ViewModels.ProductoRegistro
@{
    ViewData["Title"] = "Modificar Producto";
    var listaBeneficios = ViewBag.listaBeneficios as IEnumerable<dynamic>;
    var listaCategorias = ViewBag.listaCategorias as IEnumerable<dynamic>;
}

<head>
    <style>
        .selected {
            background-color: #ADBC9F;
        }

        .modal-header {
            background-color: #f8f9fa;
            border-bottom: 1px solid #dee2e6;
        }

        .modal-footer {
            background-color: #f8f9fa;
        }

        input, textarea, select {
            background-color: #FFFFFF;
            border: 4px solid #12372A;
            padding: 10px;
            font-size: 1.1em;
            box-shadow: 2px 2px 5px rgb(0,0,0, 0.3);
            margin-bottom: 10px;
        }

            input:focus, textarea:focus, select:focus {
                border-color: #007BFF;
                box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
            }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   
</head>
<body>
    <div class="container mt-5">
        <h2>Registrar Producto</h2>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Ocurrió un error:</strong>
                <ul>
                    @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li>@error.ErrorMessage</li>
                    }
                </ul>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <!-- Formulario para registro de productos-->
        <form method="post" class="row g-3" asp-action="ModificarProducto" enctype="multipart/form-data">
            <div class="col-md-6">
                <label for="ImagenUrl" class="form-label">URL de la Imagen</label>
                <input type="text" class="form-control" asp-for="ImagenUrl" id="ImagenUrl" name="ImagenUrl" required>
            </div>
            <div class="col-md-6">
                <label for="Nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" asp-for="Nombre" id="Nombre" name="Nombre" required>
            </div>
            <div class="col-md-12">
                <label for="Descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="Descripcion" asp-for="Descripcion" name="Descripcion" maxlength="300" required></textarea>
            </div>
            <div class="col-md-6">
                <label for="IdCategoria" class="form-label">Categoría</label>
                <div class="d-flex align-items-start">
                    <select class="form-select me-2" asp-for="IdCategoria" id="IdCategoria" name="IdCategoria" style="width: 230px;">
                        @if (listaCategorias != null)
                        {
                            foreach (var categoria in listaCategorias)
                            {
                                <option value="@categoria.IdCategoria">@categoria.Descripcion</option>
                            }
                        }
                    </select>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevaCategoriaModal">
                        Crear nueva categoría
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="Beneficio" class="form-label">Beneficio</label>
                <div class="d-flex mt-2">
                    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#beneficiosModal">
                        Seleccionar Beneficios <span id="beneficios-count" class="badge bg-light text-dark">0</span>
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#nuevoBeneficioModal">
                        Crear Nuevo Beneficio
                    </button>
                </div>
            </div>
            <!-- Modal para seleccionar beneficios -->
            <div class="modal fade" id="beneficiosModal" tabindex="-1" aria-labelledby="beneficiosModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="beneficiosModalLabel">Seleccionar Beneficios</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="search" class="form-label">Buscar Beneficios</label>
                                <input type="text" id="search" class="form-control" placeholder="Buscar...">
                            </div>
                            <div class="mb-3">
                                <label for="beneficios" class="form-label">Beneficios</label>
                                <select asp-for="ListaBeneficios" name="ListaBeneficios" id="beneficios" class="form-select" size="5" multiple>
                                    @if (listaBeneficios != null)
                                    {
                                        foreach (var beneficio in listaBeneficios)
                                        {
                                            <option value="@beneficio.IdBeneficio">@beneficio.NombreBeneficio</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="guardarSeleccion" data-bs-dismiss="modal">Guardar Selección</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="PrecioUnidadCompra" class="form-label">Precio Unidad Compra</label>
                <input type="number" value="@ViewBag.PrecioUnidadVenta" step="0.01" asp-for="PrecioUnidadCompra" class="form-control" id="PrecioUnidadCompra" name="PrecioUnidadCompra" required>
                
            </div>
            <div class="col-md-6">
                <label for="PrecioUnidadVenta" class="form-label">Precio Unidad Venta</label>
                <input type="number" value="@ViewBag.PrecioUnidadVenta" step="0.01" asp-for="PrecioUnidadVenta" class="form-control" id="PrecioUnidadVenta" name="PrecioUnidadVenta" required>
            </div>
            <div class="col-md-6">
                <label for="Stock" class="form-label">Stock</label>
                <input type="number" asp-for="Stock" class="form-control" id="Stock" name="Stock" required>
            </div>
            <div class="col-md-6">
                <label for="Activo" class="form-label">Activo</label>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" asp-for="Activo" id="Activo" name="Activo" >
                    <label class="form-check-label" for="Activo">Activo</label>
                </div>
            </div>
            <div class="col-md-12">
                <label for="FechaRegistro" class="form-label">Fecha de Ingreso</label>
                <input type="datetime-local" asp-for="FechaRegistro" class="form-control" id="FechaRegistro" name="FechaRegistro" disabled>
            </div>
            <div class="col-md-6">
                <label for="DocumentoReferencia" class="form-label">Documento de Referencia</label>
                <input type="text" class="form-control" asp-for="DocumentoReferencia" id="DocumentoReferencia" name="DocumentoReferencia">
            </div>
            <div class="col-md-6">
                <label for="Observaciones" class="form-label">Observaciones</label>
                <textarea class="form-control" id="Observaciones" asp-for="Observaciones" name="Observaciones" maxlength="300" disabled></textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </form>

    </div>

    <!-- Modal para nueva categoría -->
    <div class="modal fade" id="nuevaCategoriaModal" tabindex="-1" aria-labelledby="nuevaCategoriaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nuevaCategoriaModalLabel">Crear Nueva Categoría</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="nuevaCategoria" class="form-label">Nombre de la Categoría</label>
                            <input type="text" class="form-control" id="nuevaCategoria" name="nuevaCategoria">
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal para nuevo beneficio -->
    <div class="modal fade" id="nuevoBeneficioModal" tabindex="-1" aria-labelledby="nuevoBeneficioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nuevoBeneficioModalLabel">Crear Nuevo Beneficio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="nuevoBeneficio" class="form-label">Nombre del Beneficio</label>
                            <input type="text" class="form-control" id="nuevoBeneficio" name="nuevoBeneficio">
                        </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>


<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Scripts para funcionalidades dentro de la web  y vista-->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const searchInput = document.getElementById('search');
        const select = $('#beneficios'); // Usar jQuery para el select
        const countDisplay = $('#beneficios-count');



        // Evento para actualizar el contador de seleccionados
        select.on('change', function () {
            const selectedCount = $(this).val() ? $(this).val().length : 0;
            countDisplay.text(selectedCount);
        });

        // Filtrado de búsqueda
        searchInput.addEventListener('input', function () {
            const filter = searchInput.value.toLowerCase();
            const options = select.find('option');

            options.each(function () {
                const optionText = $(this).text().toLowerCase();
                $(this).toggle(optionText.includes(filter));
            });
        });
    });
</script>
